*{
    margin: 0%;
    padding: 0%;
}
.inventory-shadow{
    width:100%;
    height: 100%;
    position: absolute;
    background-image: url(res/body-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    
}
.inventory-screen{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    height: 900px;
    margin: auto;
}
.close-button,.open-button{
    width: 50px;
    height: 50px;
    background: red;
    display: none;
}
.character {
    width: 688px;
    height: 829px;
    margin: auto;
    background-image: url(res/character-background.svg);
    display: flex;
}
.character-info{
    width: 225px;
    height: 693px;
    background-image: url(res/character-chars-bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 92px;
    margin-left: 23px;

}
.state {
    width: 191.82px;
    height: 179px;
}
#equipment {
    width: 407px;
    height: 687px;
    margin-top: 92px;
    margin-left: 9px;
   
}

.inventory {
    width: 491px;
    height: 830px;
    margin: auto;
    margin-left: 22px;
    background-image: url(res/inv-bg.svg);
    background-size: cover;
    display: flex;
}
.inventory canvas{
    width: 415px;
    height: 629px;
    background-color: #0C0C0C;
    margin-top: 106px;
    margin-left: 48px;

}
.inventory-popup{
    position: absolute;
    width: 410px;
    height: 259px;
    background-image: url(res/item-rarity-common.svg);
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
}
.item-name {
    width:90%;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0%; 
}
.item-name p {
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */


    color: #D0D0D0;

    /* Text shadow */

    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

}
.item-type{
    height: 25px;
    width: 90%;
    margin: auto;
    margin-top: -8px;
    margin-bottom: 0%; 
}
.item-type p{
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */

    color: #777777;

    /* Text shadow */

    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.item-info{
    width: 196px;
    height: 133px;
    display: flex;
}
.item-chars{
    width: 181px;
    height: 122px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item-chars h1{
    margin-top: 5px;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* #423D34 */

    color: #423D34;
}
span {
    width: 100%;
}
.item-chars h2{
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    width: max-content;
    /* #E2CBA6 */

    color: #E2CBA6;
}
.item-chars p{
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    width: max-content;
    margin-left: 5px;
    font-size: 16px;
    line-height: 25px;
    color: #777777;
}
.popup-buttons{
    height: 45px;
    width: 100%;
    display: flex;
    font-family: El Messiri;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    justify-content: space-around;
    /* #E2CBA6 */

    color: #E2CBA6;
}
.popup-button{
    width: 120px;
    height: 25px;
    background: #2A2D33;
    border: 1px solid #EAC48B;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 5px;
}

.item-img{
    width: 65px;
    height: 65px;
    background: rebeccapurple;
    margin-top: 33px;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.attack-defence img{
    width: 29px;
    height: 34px;
    
}
.attack-defence{
    display: flex;
    flex-wrap: wrap;
    width: 105px;
    margin-left: 14px;
    margin-top: 30px;
    height: 65px;
    align-items: center;
}
.attack-defence h1{
    width: 33px;
    margin-left: 8px;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 63px;
    color: #FFC977;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.attack-defence p{
    width: 100%;
    margin-top: -20px;
   
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #423D34;
}





.state{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.state h1{
    width: 100%;
    height: 38px;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #FFC977;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bar{
    width: 191.82px;
    height: 36px;
    display:  flex;
    flex-wrap: wrap;

}
.bar div{
    width: 189.48px;
    height: 7px;
    background: black;
    border-radius: 3px;
  
}
.bar h1{
    width: 92.4px;
    height: 28px;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}
.bar p{
    width: 61.99px;
    height: 28px;
    margin-left: 35px;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
}
span{
    border-radius: 3px;
}
.hp span{
    display: block;
    height: 7px;
    background: #D46B6B;
    transition: all 0.4s linear;
    box-shadow: 0px 0px 12px 6px rgba(212, 107, 107, 0.2);
}
.hp h1{
    color: #D46B6B;
}

.mana span{
    display: block;
    height: 7px;
    background: #7694FF;
    transition: all 0.7s ease;
    box-shadow: 0px 0px 12px 6px rgba(118, 148, 255, 0.2);
}
.mana h1{
    color: #7694FF;
}
.stamina span{
    display: block;
    height: 7px;
    background: #90CC54;
    transition: all 0.4s linear;
    box-shadow: 0px 0px 12px 6px rgba(144, 204, 84, 0.2);
}
.stamina h1{
    color: #90CC54;

}