*{
    margin: 0%;
    padding: 0%;
    font-family: El Messiri;
    font-style: normal;
    font-weight: normal;

}
body {
    background-image: url(res/body-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
}
.main-menu{
    width: 1074px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    transition: all 0.6s ease;
    opacity: 1;
}

.menu-header{
    width: 1074px;
    height: 248px;
    background-image: url(res/menu-header.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.menu{
    width: 526px;
    height: 409px;
    margin-top: 82px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    background-image: url(res/menu-background.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.menu div{
    width: 285px;
    height: 45px;
    background-image: url(res/menu-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 8px;
}
.menu > div:hover{
    transition: all 0.6s ease;
    background-image: url(res/menu-button-hover.svg);
    background-position: center;
}
.menu h1{
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    background: linear-gradient(180deg, #C09645 7.5%, #FFC977 53.75%, #C09645 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*************************CHAR CREATION***************************************/
.creation{
    display: none;
    margin: auto;
    margin-top: 1%;
    height: 800px;
    width: 1200px;
    background-image: url(res/creation-background.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 0px 10px #000000);
}
.creation-menu{
    width: 940px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.creation-header{
    width: 844px;
    height: 116.11px;
    background-image: url(res/creation-header.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.class-picker{
    width: 250px;
    height: 345px;
    display: flex;
    flex-wrap: wrap;
}
.classes{
    margin: 0%;
    width: 250px;
    height: 180px;
    background-image: url(res/class-picker.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
}
.class {
    margin-top: 61px;
    margin-left: 13px;
    width: 50px;
    height: 50px;
}
.warrior{
    background-color: red;
}
.mage {
    background-color: blue;
}
.thief {
    background-color: green;
}
.class:first-child{
    margin-left: 22px;
}
.about-class{
    width: 236px;
    height: 200px;
    margin: auto;
    margin-top: -7.5%;
    background-image: url(res/desc.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    transition: all 0.45s linear;
}
.player-image{
    width: 319.52px;
    height: 450px;
    background-image: url(res/unknown.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.chars{
    width: 220px;
    
    background-image: url(res/chars-background.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.max-points{
    width: 176px;
    height: 29px;
    margin: auto;
    margin-top: 54px;
    margin-bottom: 30px;
    background-image: url(res/max-points-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:1%;
}
.max-points h1{
    width: 80px;
    
    font-family: 'El Messiri', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    /* #FFFFFF */

    color: #FFFFFF;

}
.max-points p{
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: center;

    /* #FFD37E */
    color: #FFD37E;

}
.player {
    width: 80%;
    height: 35px;
    margin-top: 5px;
    margin-left: 28px;
    display: flex;
    justify-content: space-between;
}
.player:first-child{
    margin-top: 168px;
}
.player h1{
    margin: 0%;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;

    /* #E2CBA6 */

    color: #E2CBA6;

}
.player-name{
    width: 178px;
    height: 79px;
    margin-top: -8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.player-name *{
    margin: 1%;
}
.creation-button{
    width: 83px;
    height: 25px;
    border: 1px solid #FFD37E;
    box-sizing: border-box;
    border-radius: 3px;
    background: rgba(31, 29, 25, 1);
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    
    /* #FFD37E */
    
    color: #FFD37E;
}
.player-name input[type=text]{
    width: 225px;
    height: 60px;
    background-color: unset;
    border: unset;
    outline: 0;
    outline-offset: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(res/name-textbox.svg);
    
    transition: all 0.6s ease;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(84, 77, 62, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.player-name input[type=text]:focus{
filter: drop-shadow(0px 0px 10px rgba(255, 201, 119, 0.25));
}
.counter{
    width: 49px;
    height: 35px;
    margin: 0%;
    display: flex;
    justify-content: space-around;
    
}
.counter button{
    width: 10px;
    background-color: unset;
    border: unset;  
    outline: 0;
    outline-offset: 0;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    /* #E2CBA6 */

    color: #E2CBA6;

}
.counter p{
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    text-align: right;

    /* #90CC54 */
    
    color: #90CC54;

}