#creation {
   margin: auto;
   margin-top:15%;
   text-align: center;
   margin-left: 35%;
   margin-right: 35%;
   font-family: 'Press Start 2P', cursive;
   font-size: 12px;
   height: auto;
   width: 30%;
   color:white;
   padding: 0%;
   display:flex;
   opacity: 100;
   position: fixed;
   z-index: 500;
}
.creation{
transition: all 1s linear;
}


#counter{
	color:lime;
	}

#divStrength,#divAgility,#divIntellegence{
   display:flex;
	align-items:center;
	justify-content:center;
}
#params {
   width: 50%;
   height: 40%;
   display: flex;
   flex-direction: column;
   padding: 5%;
}
#typeName{
   width: 50%;
   height: 10%;
   margin-left: 25%;
   margin-right: 25%;
   text-shadow: 1px 1px 2px black;
}
#playerName{
   width: 50%;
   height: 10%;
   margin: auto;
}

#classButton{
   width: 15%;
   height: 15%;
   margin: auto;
   margin-top: 3%;
}
#createButton{
   width: 50%;
   height: 10%;
   margin: auto;
}
#billyPick{
   box-shadow: 0 0 5px 2px;
   width: 30%;
   margin: auto;
   height: 30%;
   background-image: url("");
   background-size: cover;
}




#mainTable {
   height: 98%;
   width: 60%;
   box-shadow: 0 0 5px 2px;
   margin: auto;
   background-image: url(res/bgc.jpg);
   background-repeat: repeat;
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   z-index: 0;

}

body {
   background-image: url("res/tableFone.png");
   background-size:cover;
   background-attachment:fixed;
   margin: 0%;
   padding: 0%;
}

#pictureDiv{
   box-shadow: 0 0 5px 2px;
   width: 60%;
   margin: auto;
   margin-left: 10%;
   margin-right:10%;
   height: 40%;
   background-image: url("res/room.png");
   background-size: cover;
   background-position-y: center;
   margin-top: 0%;
   margin-bottom: 0%;
   flex-grow:1;
}

#mapDiv{
   box-shadow: 0 0 5px 2px;
   width: 40%;
   height: 45%;
   margin: auto;
   margin-top: 3%;
   display: inline-flex;
   visibility: visible;
   position: relative;
   background-image: url("res/map.jpg");
   background-size:cover;
   background-position:center;
   z-index: 100;
}
#dialogueDiv {
   box-shadow: 0 0 5px 2px;
   width: 50%;
   height: 28%;
   margin: auto;
   margin-top: 3%;
   margin-bottom: 15%;
   display: inline-flex;
   justify-content:center;
   background-image: url("res/dialogue.png");
   background-size:100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
#dialogueWindow::-webkit-scrollbar {
   width: 7px;
   background-color: #f9f9fd;
}
.playerAnswer{
   color:white;
	font-size:12px;
   font-family: 'Press Start 2P', cursive;
   text-shadow: 1px 1px 3px black;
   margin: auto;
   margin-top: 3%;
   margin-left: 5%;
   
}
#dialogueWindow p {
   color:white;
	font-size:13px;
   font-family: 'Press Start 2P', cursive;
   text-shadow: 1px 1px 2px black;
   margin: 0%;
   text-indent: 20px;
   
   
}
#dialogueWindow{
   height: 74%;
   width: 94%;
   margin: auto;
   margin-top: 10%;
   overflow-y: auto;
}
.answerTab{
   width: 94%;
   height: 18%;
   margin: auto;
   margin-top: 3%;
   background-image: url("res/answerTab.png");
   background-size: contain;
   background-repeat: no-repeat;
}


.playerAnswer:hover{
   color:red;
}


#inventoryWindow {
   border:1px solid lime;
   width: 60%;
   height:70%;
   display: flex;
   position: fixed;
   margin: auto;
   align-items:center;
   justify-content:center;
   left:20%;
   visibility: hidden;
   z-index: 10000;
}
#inventoryShadow{
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 9000;
   background: rgba(0,0,0, 0.7);
   visibility: hidden;
}

#equipedItems{
   width: 13%;
   height: 100%;
   display: flex;
   flex-direction: column;
   border: 1px solid indigo;
   z-index: 0;
}
#hat,#amulet,#bodyArmor,#weapon {
   height: 20%;
   width: 100%;
   margin: auto;
   border: 1px solid indigo;
}
#playerInv {
   margin: auto;
   width: 50%;
   height: 100%;
   position: relative;
   z-index: 0;
   border: 2px solid red;
}
#playerImg{
   margin: auto;
   width: 50%;
   height: 100%;
   position: relative;
   z-index: 0;
   border: 2px solid red;
   background-image: url("res/invPlayerImage.png");
   background-size: cover;
}
#playerInventory{
   width: 100%;
   height: 100%;
}

#playerChars{
   border:1px solid hotpink;
   
   margin: auto;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 5;
   
}
#playerPic{
   width: 35%;
   height: 30%;
   margin: auto;
   margin-top: 22%;
   margin-left: 33%;
   z-index: 1000;
}
#navPanel{
   box-shadow: 0 0 5px 2px;
   width: 20%;
   margin-bottom: 0%;
   margin-top: 1%;
   margin-left: 40%;
   margin-right:40%;
   height: 6%;
   background-image: url("res/room.png");
   background-size: cover;
   background-position-y: center;
   flex-grow:1;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   z-index: 9001 ;
}
.navButton{
   margin: auto;
   width: 18%;
   height: 70%;
   background-image: url("res/button.png");
   background-size:100%;
}
#videoSound {
   position: fixed;
   z-index: 10;
   display: none;
}